$bug: #a1b01c;
$electric: #f2be20;
$fire: #f93810;
$grass: #69bc4a;
$normal: #c5c1b5;
$rock: #bba249;
$dark: #4d372a;
$fairy: #f4b6f4;
$flying: #95aff1;
$ground: #d1b559;
$poison: #904892;
$steel: #b4b3c2;
$dragon: #7562d7;
$fighting: #7b2f1c;
$ghost: #5e5dac;
$ice: #8ddff7;
$psychic: #e15182;
$water: #3f91e5;
