@mixin type-background($type-color) {
  background-color: $type-color;
  border: 2px solid black;
  border-radius: 0.5em;
  color: white;
  text-shadow: 0px 0px 3px black;
  margin: 0.5em;
  padding: 0.3em;
}

.bug {
  @include type-background(#a1b01c);
}

.electric {
  @include type-background(#f2be20);
}

.fire {
  @include type-background(#f93810);
}

.grass {
  @include type-background(#69bc4a);
}

.normal {
  @include type-background(#c5c1b5);
}

.rock {
  @include type-background(#bba249);
}

.dark {
  @include type-background(#4d372a);
}

.fairy {
  @include type-background(#f4b6f4);
}

.flying {
  @include type-background(#95aff1);
}

.ground {
  @include type-background(#d1b559);
}

.poison {
  @include type-background(#904892);
}

.steel {
  @include type-background(#b4b3c2);
}

.dragon {
  @include type-background(#7562d7);
}

.fighting {
    @include type-background(#7b2f1c);
}

.ghost {
  @include type-background(#5e5dac);
}

.ice {
  @include type-background(#8ddff7);
}

.psychic {
  @include type-background(#e15182);
}

.water {
  @include type-background(#3f91e5);
}
